<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue task app</title>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <!-- Vue js component -->
  <div class="container">
    <div id="taskApp" class="col-sm-8 col-sm-offset-2">
      <h1>{{ nameApp }}</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Hecho</th>
            <th>Tarea</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="tarea in tareas">
            <td>
              <input type="checkbox" v-model="tarea.done">
            </td>
            <td>
              {{ tarea.title }}
            </td>
            <td>
              <button v-on:click="deleteTask(tarea)" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Vue js CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#taskApp',
      data: {
        nameApp: 'Vue task app',
        tareas: [
          {
            title: 'task1',
            done: true
          },
          {
            title: 'task2',
            done: false
          },
          {
            title: 'task3',
            done: false
          },
          {
            title: 'task4',
            done: true
          }
        ]
      },
      methods: {
        deleteTask(task) {
          // console.log(task)
          // para saber el indice de la tarea a eliminar
          // console.log(this.tareas.indexOf(task));

          indiceEliminar = this.tareas.indexOf(task)
          // eliminar tarea del array
          this.tareas.splice(indiceEliminar, 1)
        }
      }
    })
  </script>
</body>
</html>
